/*Manejando pseudselectors*/
:root
{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --azulmarino: #44578d;
    --celeste: #87c9d6;
    --turquesa:#8dbcae;
    --beige: #caaa8d;
    --cafe: #432229;
}


/*Manejado REM*/
/*Adaptar a todo el html y al body*/

html{
    font-size: 62.5%;
}
body{
    font-size: 16px;/*1 rem = 10px*/
    font-family: 'Roboto', sans-serif;
}

.titulo span.yasuni{
    text-align: center;
    font-size: 3.8rem;
    font-family: 'Kaushan Script', cursive;
}

.titulo{ /*Aplicando una clase*/
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}
.titulo span{ /*aplica el span al h1 y no a todos los span*/
    font-size: 2rem;
    font-weight: 100;

}

h2.titulo{
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h2.about{
    font-size: 3.8rem;
    font-family: 'Kaushan Script', cursive;
}

h3.flora{
    font-size: 3.8rem;
    font-family: 'Kaushan Script', cursive;  
}

h3.fauna{
    font-size: 3.8rem;
    font-family: 'Kaushan Script', cursive;
}

h3.turismo{
    font-size: 3.8rem;
    font-family: 'Kaushan Script', cursive;
}

h2.contactos{
    font-size: 3.8rem;
    font-family: 'Kaushan Script', cursive;
}

/*Centrado de navegacion principal*/
/*Se define un contenedor*/

.contenedor{
    width: 120rem;
    margin: 0 auto 0 auto;
}
.div-nav-menu{/*para el color*/
    background-color: var(--turquesa);
}

/*Ancho del menu - Enfoque de modulos*/
.nav-menu{/*el padre*/
    /*padding: 1rem 1rem 1rem 1rem;*/
    padding: 1rem;
    display: flex;/*centrar el menu*/
    flex-direction: row; /*por defecto son columnas*/
    justify-content: space-between;
}

.nav-menu a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
}

/*Eventos de css*/

.nav-menu a:hover{
    background-color: var(--beige);
    padding: 1rem;

}

